Source: tesseract
Section: graphics
Priority: optional
Maintainer: Jeffrey Ratcliffe <Jeffrey.Ratcliffe@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libtiff4-dev, quilt (>= 0.40)
Standards-Version: 3.7.3
Homepage: http://code.google.com/p/tesseract-ocr/
XS-DM-Upload-Allowed: yes

Package: tesseract-ocr
Architecture: any
Depends: ${shlibs:Depends}, libtiff4, tesseract-ocr-language
Replaces: tesseract-ocr-data
Description: Command line OCR tool
 The Tesseract OCR engine was originally developed at HP between 1985 and 1995.
 It was open-sourced by HP and UNLV in 2005 and Google has lead further
 development.
 .
 The Tesseract OCR engine was one of the top 3 engines in the 1995 UNLV
 Accuracy test.  Between 1995 and 2006 it had little work done on it, but it
 is probably one of the most accurate open source OCR engines available.  It
 will read a binary, grey or color image and output text.

Package: tesseract-ocr-dev
Architecture: any
Depends: ${shlibs:Depends}, tesseract-ocr
Description: Development files for the tesseract command line OCR tool
 The Tesseract OCR engine was originally developed at HP between 1985 and 1995.
 It was open-sourced by HP and UNLV in 2005 and Google has lead further
 development.
 .
 The Tesseract OCR engine was one of the top 3 engines in the 1995 UNLV
 Accuracy test.  Between 1995 and 2006 it had little work done on it, but it
 is probably one of the most accurate open source OCR engines available.  It
 will read a binary, grey or color image and output text.

